.main-footer{
    background-color: #2f2f31;
    margin-top: 4rem;
    .footer-links{
        background-color: #e5ddce;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        a{
            text-decoration: none;
            color: #a17856;
            padding: 0.3rem;
            font-weight: 500;
        }
    }
}

.footer-link-container{
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.footer-social{
}

.absolute-img{
    
    position: absolute;
    left: 50%;
  
}